{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "no-var": "error",
    "prefer-const": "error"
  }
}
